#group{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;

}

.item{
    flex: 1;
    margin: 2%;
}

ul{
    list-style: none;
}

.venueResults, .eventResults{
    border: 1px solid black;
}


.hidden{
    display: none;
}