@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

html{
    background-color: azure;
    color: rgb(82, 82, 82);
    font-size: 8px;
}

ul{
    list-style: none;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 3em;
}

hr {
    border-top: 3px double #8c8b8b;
}

label{
    font-size: 2em;
}

label[for="js-search-term"]{
    margin-left: 2.5%;

}

input[type=submit]{
    font-size: 3em;
    background-color: rgb(81, 83, 83);
    color: azure;
    border-radius: 50%;
    margin-top: 2%;

}


.item{
    flex: 1;
    margin: 2%;
    text-align: center;
    font-size: 2em;
    padding: 1%;
    

}


.venueResults, .eventResults {
    border: 1px solid rgb(85, 85, 85);
    background-color: rgb(239, 244, 245);
    margin: 1%;
}


.hidden{
    display: none;
}

.container {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    
}


#group {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;


}

@media all and (min-width: 900px){
    html{
        font-size: 12px;
        font-family: 'Abril Fatface', cursive;
    }

    h2{
        font-size: 3em;
    }

    #group {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
    
    
    }

    


}